body {
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#header-container {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ebebeb;
}

.go-logo img {
    width: 92px;
    height: 30px;
    padding: 4px 28px 0 30px;
    top: 10px;
    position: relative;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    border: 1px solid #dad9d9;
    border-radius: 25px;
    margin: 10px;
    margin-right: 270px;
    width: 550px;
    height: 40px;
}

.search-bar img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    position: relative;
    top: 10px;
}

.search-bar:hover {
    border: none;
    box-shadow: -6px 5px 10px -3px rgba(115, 115, 115, 1);
}

.text-right {
    font-size: 13px;
    position: relative;
    padding: 20px;
    bottom: 10px;
    text-align: right;
    margin-left: 200px;
}

.profile-picture {
    position: relative;
    top: 10px;

}

.menu-text {
    padding-bottom: 10px;
    margin-left: 165px;
    word-spacing: 10px;
    font-size: 13px;
}

.menu-image {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    position: relative;
    top: 4px;
}