body {
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.header-container a {
    color: #3a393a;
}

.text-right {
    font-size: 13px;
    position: relative;
    padding: 20px;
    bottom: 10px;
}

.text-right a {
    padding-right: 10px;
}

.text-right img {
    position: relative;
    top: 7px;
    padding-right: 0px;

}

.profile-picture {
    position: relative;
    top: 10px;

}

.search-bar {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    border: 1px solid #dad9d9;
    border-radius: 25px;
    margin: 10px auto;
    width: 550px;
    height: 40px;
}

.search-bar img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    position: relative;
    top: 10px;
}

.search-icon {}


.search-bar:hover {
    border: none;
    box-shadow: -6px 5px 10px -3px rgba(115, 115, 115, 1);
}

.google-logo {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 30px;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn input {
    background-color: #f2f2f2;
    margin: 20px 4px;
    padding: 0 16px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    height: 36px;
    font-size: 14px;
    color: #5f6368;

}

.input:hover {
    border: 1px solid #616161;
    color: #252628;
}

.foot-container {
    color: rgba(0, 0, 0, .54);
    font-size: 15px;
    width: 100%;
    line-height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid #ebebeb;
    bottom: 0;
    position: fixed;
}

.foot-container a {
    color: rgba(0, 0, 0, .54);
}



a:hover {
    text-decoration: underline;
}

.footer-first,
.bottom-footer {
    padding-left: 27px;
    border-top: 1px solid #ebebeb;
}

.bottom-ft-right {
    margin-right: 27px;
    float: right;
}

.bottom-text {
    margin-left: 8px;
}